<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="etcp-test" verbose="1" >
    <test name="etcp-account">
        <classes>
            <class name="com.airfer.rattler.chain.CoreChainTest"/>
            <class name="com.airfer.rattler.chain.ProtertiesTest"/>
        </classes>
    </test>
</suite>